@import '../../styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 100px;
}
.h4 {
  font-size: 0.875rem;
  margin-bottom: 2.325rem;
}

.h2 {
  font-family: Recoleta, sans-serif;
  font-weight: 700;
  font-size: 3.375rem;
  color: var(--color-text-primary);
}

.p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.div {
  width: 47%;
}

.img {
  width: 510px;
  margin-left: auto;
  align-self: center;
}

.button {
  margin: 20px 0 40px;
  border-radius: 28px;
  background-color: var(--color-red-primary);
  color: #fff;
  padding: 1.0333rem 2.0667rem;
  -webkit-text-decoration: none;
  text-decoration: none;
  min-width: 9rem;
  display: inline-block;
  text-align: center;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-weight: 600;
  transition: all 0.4s;
}

.button:hover {
  transform: scale(1.05) translateY(-1px);
  box-shadow: 0 9px 60px 0 rgba(218, 54, 84, 0.35);
}

.button:active {
  transform: scale(1) translateY(1px);
  box-shadow: 0 3px 30px 0 rgba(218, 54, 84, 0.35);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .div {
    width: 100%;
  }

  .img {
    width: 300px;
    display: inline-block;
    margin: auto;
  }

  .h2 {
    font-size: 2.2rem;
  }

  .p {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    flex-direction: column;
  }
  .div {
    width: 100%;
  }

  .img {
    width: 300px;
    display: inline-block;
    margin: auto;
  }

  .h2 {
    font-size: 2.9rem;
  }

  .p {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .div {
    width: 50%;
  }

  .img {
    width: 300px;
    display: inline-block;
  }

  .h2 {
    font-size: 3rem;
  }

  .p {
    font-size: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    flex-direction: row;
  }
  .div {
    width: 50%;
  }

  .img {
    width: 350px;
    display: inline-block;
  }

  .h2 {
    font-size: 3.175rem;
  }

  .p {
    font-size: 1.15rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
  }
  .div {
    width: 50%;
  }

  .img {
    width: 510px;
    display: inline-block;
  }

  .h2 {
    font-size: 3.375rem;
  }

  .p {
    font-size: 1.25rem;
  }
}
