@import "../../styles/variables.scss";

.footer {
  margin: 0 auto 3.1rem;
  width: 100%;
}

.container {
  margin: 0 2%;
  border-radius: 16px;
  padding-top: 4.65rem;
  padding-left: 4.65rem;
  padding-right: 4.65rem;
  background: #000;
  padding: 3.1rem 8vw 1.55rem;
  position: relative;
  color: white;
}

.scroll_button {
  background: var(--color-red-primary);
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4.65rem;
  top: 0;
  transform: translateY(-50%);
  transition: box-shadow 0.3s cubic-bezier(0, 0.89, 0.44, 1);
  will-change: box-shadow;
}

.scroll_button:hover {
  box-shadow: 0 9px 40px 0 rgba(218, 54, 84, 0.65);
}

.video_container {
  display: flex;
  justify-content: space-between;
}

.video_text {
  width: 30%;
}

.button {
  margin: 20px 0 40px;
  border-radius: 28px;
  background-color: var(--color-red-primary);
  color: #fff;
  padding: 1.0333rem 2.0667rem;
  -webkit-text-decoration: none;
  text-decoration: none;
  min-width: 9rem;
  display: inline-block;
  text-align: center;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-weight: 600;
  transition: all 0.4s;
}

.button:hover {
  transform: scale(1.05) translateY(-1px);
  box-shadow: 0 9px 60px 0 rgba(218, 54, 84, 0.35);
}

.button:active {
  transform: scale(1) translateY(1px);
  box-shadow: 0 3px 30px 0 rgba(218, 54, 84, 0.35);
}

.bottom_container {
  margin-top: 50px;
  border-top: 1px solid rgb(73, 73, 73);
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  flex-wrap: wrap;
}

.bottom_container p {
  color: rgb(114, 114, 114);
}

.img {
  width: 120px;
  margin-bottom: 40px;
}

.img:hover {
  animation: color-rotate 2s;
  animation-iteration-count: infinite;
  animation-direction: alternante;
}

.h2 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 26px;
  color: white;
  margin: 0;
}

.p {
  margin: 0;
  font-size: 14px;
  color: white;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.bottom_logo {
  margin-top: 15px;
  width: inherit;
}

.bottom_logo p {
  color: white;
}

.copyright {
  color: rgb(114, 114, 114);
  margin: 60px 0 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .video_container {
    display: block;
  }
  .video_text {
    width: 100%;
    text-align: center;
  }
  .player_wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }

  .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .bottom_logo {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .video_container {
    display: block;
  }
  .video_text {
    width: 100%;
    text-align: center;
  }
  .player_wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video_text {
    width: 100%;
    text-align: center;
  }
  .bottom_logo {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .video_container {
    display: block;
  }
  .video_text {
    width: 100%;
    text-align: center;
  }
  .player_wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video_text {
    width: 100%;
    text-align: center;
  }
  .bottom_logo {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .video_container {
    display: block;
  }
  .video_text {
    width: 100%;
    text-align: center;
  }
  .player_wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video_text {
    width: 100%;
    text-align: center;
  }

  .bottom_logo {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .video_container {
    display: flex;
    flex-direction: row;
  }
  .player_wrapper {
    position: relative;
    padding-top: 0;
    width: 55%;
  }

  .video_text {
    width: 30%;
  }

  .bottom_logo {
    margin-top: 15px;
    width: inherit;
    margin-bottom: 0;
  }
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
