.container {
  text-align: center;
}
.container_top {
  margin-bottom: 80px;
}
.container_bottom {
  margin-top: 80px;
}
.h1 {
  color: var(--color-text-primary);
  font-size: 2rem;
}
.button {
  margin: 20px 0 40px;
  border-radius: 28px;
  background-color: var(--color-red-primary);
  color: #fff;
  padding: 1.0333rem 2.0667rem;
  -webkit-text-decoration: none;
  text-decoration: none;
  min-width: 9rem;
  display: inline-block;
  text-align: center;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-weight: 600;
  transition: all 0.4s;
}

.button:hover {
  transform: scale(1.05) translateY(-1px);
  box-shadow: 0 9px 60px 0 rgba(218, 54, 84, 0.35);
}

.button:active {
  transform: scale(1) translateY(1px);
  box-shadow: 0 3px 30px 0 rgba(218, 54, 84, 0.35);
}
