@import './variables.scss';
html, body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: var(--color-background-primary);
  color: var( --color-text-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}